<div style="margin-top: 25px;">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Piatto preferito</mat-label>
          <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lascia un commento</mat-label>
          <textarea matInput placeholder="Ex. Commento di test..."></textarea>
        </mat-form-field>
    </form> 
</div>
 